<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hibreed Todo App </title> 
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}"> 
  
</head>
<body>

    <div class="todo">
        <h1 class="todo__header">To Do App 📜</h1>
    
        <div class="card todo__headerContainer">
            <p class="font-weight-bold">Make a Change on note {{todo.id}}</p>
            <form class="todo__form" action="" method="POST">
                <div class="card todo__innerItemContainer">
                    <span class="todo__container_input">
                        <label for="title">Todo Title:</label>
                        <input type="text" name="title" placeholder="Title of task" value="{{todo.title}}">
                    </span>
                    <span class="todo__container_input">
                        <label for="body">Todo Body:</label>
                        <input type="text" name="body" placeholder="enter your todo task" value="{{todo.body}}">
                    </span>
                    
                    <span class="todo__container_input">
                        <label for="created_by">Created By:</label>
                        <input type="text" name="created_by" placeholder="created by" value="{{todo.created_by}}">
                    </span>

                    <span class="todo__container_input">
                        <label for="date_created">Date Created:</label>
                        <input type="date" name="date_created" value="{{todo.date_created}}" readonly= "readonly">
                    </span>

                    <span class="todo__container_input">
                        <label for="assigned_to">Assigned To:</label>
                        <input type="text" name="assigned_to" placeholder="assigned to" value="{{todo.assigned_to}}">
                    </span>

                    <span class="todo__container_input">
                        <label for="due_date">Due Date:</label>
                        <input type="date" name="due_date" placeholder="Due Date" value="{{todo.due_date}}">
                    </span>

                    <span class="todo__container_input">
                        <label for="duration">Duration:</label>
                        <input type="text" name="activity_duration" placeholder="duration of the task" value="{{todo.activity_duration}}">
                    </span>

                    <span class="todo__container_input">
                        <label for="comment">Comment:</label>
                        <input type="text" name="comment" placeholder="add comment" value="{{todo.comment}}">
                    </span>
                
                    <input class="btn btn-info" type="submit" value="➕ Add Item">
                </div>
                
            </form>
        </div>
    
</body>
</html>